[submodule "/home/bhawkins/.dotfiles/zsh/.oh-my-zsh/custom}/plugins/zsh-autosuggestions"]
	path = /home/bhawkins/.dotfiles/zsh/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "/home/bhawkins/.dotfiles/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = /home/bhawkins/.dotfiles/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
